.stoplight-step {}

.stoplight-step__inner {
    background-color: #FFF;
    border-radius: 4px;
    padding: 8px;
    position: relative;
    z-index: 10001;
}

.stoplight-step__content {
    background-color: #FFF;
    border-radius: 4px;
    padding: 12px;
    position: relative;
    z-index: 10001;
}

.stoplight-step__content--bottom {
    margin-top: 12px;
}

.stoplight-overlay {
    position: absolute;
    inset: 0;
}

.stoplight-backdrop {
    background-color: #000;
    inset: 0;
    opacity: .5;
    position: fixed;
    z-index: 10000;
}