.stoplight-step {
    background-color: #FFF;
    border-radius: 4px;
    padding: 4px;
    position: relative;
    z-index: 10001;
}

.stoplight-dialog {
    background-color: #FFF;
    border-radius: 4px;
    display: none;
    padding: 12px;
    position: relative;
    top: 12px;
    z-index: 10001;
}

.stoplight-dialog--visible {
    display: inline-block;
}

.stoplight-overlay {
    position: absolute;
    inset: 0;
}

.stoplight-backdrop {
    background-color: #000;
    display: none;
    inset: 0;
    opacity: .5;
    position: fixed;
    z-index: 10000;
}

.stoplight-backdrop--visible {
    display: block;
}